*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif; 
    color: #291f1a;
    margin: 0;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    color: white;
    margin: 0 auto;
    font-weight: 100;
}
h1 +h2 {
    font-size: 32px;
    color: white;
    margin: 0;
    font-weight: 200;
}
.additional-font{
    color: #1ac056;
}
h2{
    font-size: 48px;
    font-weight: 200;
    padding: 50px 0 0; 
}

span{
    font-weight: 900;
}

section{
    background-color: #f9fcfe;
}

#contact{
    background-color: #213b50;
}

/* Tutaj zaczynamy modyfikować */

#header{
    background-image: url('../img/header-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#about,
#abilities,
#portfolio,
#contact,
#footer{
    text-align: center;
    margin: 0 10%;
}
#about-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* height: 70vh; */
    justify-content: space-around;
    align-items: center;
    line-height: 36px;
}
.flex-item30
{
        flex-basis: 30%;
}
#about-flex figure img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border: 5px solid white;
}
#nav{
    position: sticky;
    top:0;
    background-color: white;
    text-align: right;
}
ul{
    display: inline-block;
    margin: 0;
    padding: 0px 30px;
}
li{
    list-style-type: none;
    display: inline-block;
    text-align: right;
    padding: 10px 0px;
    transition: all 0.4s ease-in-out 0.2s;
    
}
a{
    text-decoration: none;
    padding: 10px 30px;
    transition: all 0.4s ease-in-out 0.2s;
}
a:hover{
    color: #291f1a;
}
li:hover{
background-color: #1ac056;
 }
#abilities-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
#abilities-flex figure{
    flex-basis: 15%
}
#abilities-flex figure i {
    font-size: 60px;
}

 #portfolio-flex{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     padding-bottom: 60px;
 }
 .portfolio-box{
     flex-basis:33%;
     position: relative;
 }
.portfolio-box img{
    height:300px;
    width:100%;
    object-fit: cover;
    object-position: center;
}
.portfolio-hover{
    position: absolute;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    padding: 10px;
    color: white;
    background-color: #1ac056;
    transition: all 0.4s ease-in-out;
}
.portfolio-hover:hover{

    opacity: 0.9;
cursor: pointer;
}

#contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top:50px;
    padding-bottom: 50px;   
}


#footer{
    background-color: #102a40 ;
    height: 30px;
    text-align: left;
    color: white;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    
}
#footer p{
    margin: 0;
}

.upper{
    text-transform: uppercase;
}

#form-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;

}
#form-flex input,
textarea{
    flex-basis: 90%;
    background-color: #324c61 ;
    padding: 10px;
    border: 0;
    margin: 5px;
}
textarea{
    height: 200px;
}
input[type="submit"]{
    background-color: #1ac056 !important;
    color: white;
    font-size: 16px;
    flex-basis: 30% !important;
    
}
#dane{
    text-align: left;
}

#dane h2{
    margin: 0 !important;   
}
p span{
    color: #1ac056;
    text-decoration: none;
}

/* 


font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif; 

Kolory:
Font bazowy: #291f1a
Font dodatkowy: #1ac056
Tło sekcji: #f9fcfe
Tło sekcji kontaktowej: #213b50 


Fonty:
Bazowy: Lato
Nagłówek główny: Roboto

*/