.main{
    height: 800px;
    @include primary-padding;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    div{
        display: flex;
        flex-basis: 40%;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: left;
        h3{
            font-size: 24px;
            font-weight: 700;
            span{
                color: $yellow-color;
            }
        }
        form{
            background-color: $blue-color;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            padding: 20px;
            fieldset{
                border: 0;
                font-size: 18px;
                font-weight: 700;
                padding-top: 20px;
            }
            input:not([type="submit"]),
            textarea{
                flex-basis: 100%;
                padding: 10px;
                margin-top: 10px;
                margin-bottom: 10px;    
            }
            input[type="submit"]{
                background-color: $yellow-color;
                flex-basis: 30%;
                color: $black-color;
                padding: 25px;
                border: none;
                font-size: 1.25em;
                font-weight: 700;
                align-self: flex-start;
                margin-top: 10px;
            }
        }
    }
}